# VC++ Files

*.vcxproj*
*.opensdf
*.sdf
*.suo
*.sln
Debug
Win32
ipch

# CMake files

CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
*.a
CPackConfig.cmake
CPackSourceConfig.cmake

#binary files

example-bsl
example-burner
install_manifest.txt
libmsp430bsl.so*

